#Titulo_Oso{

    text-align:center;
    color:white;    

}

body{ 
      
    background:rgba(0,0,0,0.7)url(../images/bear.jpg);
    background-size: auto;
    background-blend-mode: darken;
    
}

.carousel{

    width:640px;
    height:360px;



}

#description{

    color:white;
    font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serid;
    margin-top: 200px;
    
}



